.image-spacing {
    margin-right: 20px;
}

  
body {
    background-image: url(https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 750px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.navbar {
    max-height: 50px;
}


.navigation .navbar-brand {
    color: rgb(157, 213, 251);
    margin-left: 0px;
    padding: inherit;
    font-weight: bold;
    background-color: rgb(244, 245, 186);
    font-family:'Times New Roman', Times, serif;
}

.navbar {
    background-color: rgb(244, 245, 186);
    font-size: 25px;
}

.active, .dropdown-menu .dropdown-item:active a:hover {
    background-color: rgb(255, 255, 255);
  }
  .dropdown-item {
    color: rgba(125, 238, 255, 0.874);
  }
  .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgba(125, 238, 255, 0.874);
  }
  
  .nav-link:hover {
    background-color:rgba(125, 238, 255, 0.874);
   }
  
  .navbar-brand:hover {
  color: rgb(125, 238, 255, 0.874);
  }
  a {
    color: rgb(231, 231, 231);
    font-size: 15px;
  }
  
  img{
    width:90%;
    height:90%;
  }
  .active, .panel:hover {
    border-color:rgb(255, 255, 255);
    border-style: solid;
    
  }
  /* .vizualization {
    width:50%;
    height:50%;
  } */
  
  .title {
    color: rgb(52, 149, 165);
    font-family: cochin;
    font-weight: bolder;
    padding-top: 10px;
  }
  
  p {
  color: rgb(52, 149, 165);
  font-family: 'segoe ui';
  font-size: 16px;
  }
  
  .box {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 10px 30px 10px;
    color: #ffffff;
    background-color: rgb(255, 255, 255);
  
  }
  
  .table {
    font-size: 15px;
    border-top-color: rgb(255, 255, 255);
  }
  
  footer {
  background-color: #ffffff;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: rgb(141, 194, 255);
  color: rgb(0, 0, 0);
  min-height: 50px;
  font-family: Menlo, Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  }
  
  @media(max-width: 992px) {
    .navbar-expand-lg {
    background-color: #000000;
    }
    .navbar {
      max-height: none;
      padding: inherit;
    }
    .navbar div {
      margin: inherit;
      background-color: rgb(255,255,255);
    }
    .navbar-brand {
      padding: 10px;
    }
    button{
      margin-right: 30px;
    }
    button:focus {
      outline: 1px dotted;
      outline: auto 5px;
    }
  }


